{% load static %}
<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Add Tour</title>
  {% include 'CSS.html' %}
</head>

<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {% include 'header.html' %}
      <div class="desc profile-container row ">
        <div class="container">
          <div id="fh5co-destination">
            <div class="tour-fluid">
              <div class="row">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <br />
                    <h3>Add New Tour</h3>
                  </div>
                </div>
                <form class="col-md-12" action="addt" method="POST" enctype=multipart/form-data>
                  {%csrf_token %}
                  <div role="tabpanel" class="tab-pane" id="register">
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="tid">Tour Id</label>
                        <input type="number" class="form-control" id="tid" name="tid" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="ptitle">Package Title</label>
                        <input type="text" class="form-control" id="ptitle" name="ptitle" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="ttype">Tour Type</label>
                        <!-- <input type="text" class="form-control" id="ttype" name="ttype" /> -->
                        <select name="ttype" class="form-control" id="ttype">
                          <option value="adventure">Adventure</option>
                          <option value="wildlife">WildLife</option>
                          <option value="family">Family</option>
                          <option value="pilgrimage">Pilgrimage</option>
                          <option value="honeymoon">Honeymoon</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="img1">Image 1 name</label>
                        <!-- <input type="text" class="form-control" id="img1" name="img1" /> -->
                        <input class="form-control" type="file" id="img1" name="img1" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="img2">Image 2 name</label>
                        <input type="file" class="form-control" id="img2" name="img2" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="tdes">Tour Description</label>
                        <input type="text" class="form-control" id="tdes" name="tdes" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="d">Duration</label>
                        <input type="text" class="form-control" id="tdate" name="d" />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 mt">
                      <div class="input-field">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" name="price" />
                      </div>
                    </div>
                    <div class="col-xs-12 mb-5">
                      <input type="submit" class="btn btn-primary btn-block" value="Add" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'JS.html' %}
</body>

</html>