{% load static %}
<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Admin Panel</title>
  {% include 'CSS.html' %}
</head>

<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo">
              <a href="{% url 'adminpanel' %}"><i class="icon-airplane"></i>Travio</a>
            </h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li><a>Welcome {{user.username}}</a></li>
                <li><a href="{% url 'Logout' %}">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div id="fh5co-tours" class="fh5co-section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-1.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>Add New Tour</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="addtour">Add Now <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-2.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>View All Tour</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="viewtour">Add Now <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-3.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>View All Users</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="viewuser">View <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-1.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>Add New Hotel</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="addhotel">Add Now <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-2.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>View All Hotel</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="viewhotel">Add Now <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
              <div href="#">
                <img src="{% static 'images/place-3.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                  class="img-responsive" />
                <div class="desc">
                  <span></span>
                  <h3>View All Bookings</h3>
                  <br />
                  <a class="btn btn-primary btn-outline" href="viewbooking">View <i class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'JS.html' %}
</body>

</html>