{% load static %}
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    {% include 'CSS.html' %}

</head>

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            {% include 'header.html' %}

            <!-- end:header-top -->


            <div id="fh5co-tours" class="fh5co-section-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h3>Adventure destinations</h3>
                            <p>When you see someone putting on his Big Boots, you can be pretty sure that an Adventure
                                is going to happen.</p>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        {% for pack in package %}
                        <!-- {% if pack.type is 'adeventure' %}  -->
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="{% static 'images/hotel1.webp' %}" class="img-responsive">
                                <div class="desc">
                                    <span></span>
                                    <h3>{{pack.packageTitle}}</h3>
                                    <span>{{pack.duration}}</span>
                                    <span class="price">Rs. {{pack.price}}</span>
                                    <a class="btn btn-primary btn-outline" href="#">Book Now
                                        <iclass="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- {%endif%} -->
                        {%endfor%}
                    </div>



                </div>
            </div>
            {% include 'footer.html' %}

        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->

    {% include 'JS.html' %}
</body>

</html>