{% load static %}
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Booking</title>
    {% include 'CSS.html' %}
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>

</head>

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            {% include 'header.html' %}

            {% for b in book %}
            <div class="desc profile-container row">
                <div class="container">
                    <div id="fh5co-destination">
                        <div class="tour-fluid">
                            <!-- {{b.hotelName}} -->
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                                        <h3>Booking</h3>
                                        <p>You are in the process of making a reservation for a <b>
                                                {% if b.hotelName %}
                                                {{ b.hotelName }}
                                                {% elif b.packageTitle %}
                                                {{ b.packageTitle }}
                                                {% endif %}
                                            </b> trip.</p>
                                    </div>
                                </div>
                                <form class="col-md-12"
                                    action="payment/{% if b.hotelName %}{{ b.hotelName }}{% else %}{{ b.packageTitle }}{% endif %}"
                                    method="post">
                                    {% csrf_token %}
                                    <div role="tabpanel" class="tab-pane" id="register">
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="fname">Full Name</label>
                                                <input type="text" class="form-control" id="from-place" name="fname" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="from-place" name="email" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="cnt">Contact</label>
                                                <input type="text" class="form-control" id="from-place" name="cnt" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="people">Number of People</label>
                                                <input type="number" class="form-control" id="people" name="people" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="tdate">Trip Date</label>
                                                <input type="date" class="form-control" id="tdate" name="tdate" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="Pay Now">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'JS.html' %}
</body>

</html>