{% load static %}
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    {% include 'CSS.html' %}

</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">

        {% include 'header.html' %}

        <div id="fh5co-tours" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                        <h3>Hotel Name</h3>
                        <p>Mountain hotel with outdoor pool, near Nakki Lake</p>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
		            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#">
                            <img src="{% static 'images/hotel1.webp' %}" class="img-responsive">
                        </div>
                        <br>
                        <a class="btn btn-primary btn-outline" href="{% url 'payment' %}">Book Now <iclass="icon-arrow-right22"></i></a>
                    </div>
                    <div>
                        <h3>Sterling Mount Abu</h3>
                        <h2 style="color:#F78536">Rs. 8870</h2>
                        <p>Neelkanth Road, Mount Abu, Abu Road,  Rajesthan, India - 307501</p>
                        <p>Room Type : Classic Double Room</p>
                        <p>Status : Available</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#">
                            <img src="{% static 'images/cafe.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                                           class="img-responsive">
                            <div class="desc hotel">
                                <span></span>
                                <h3>Cafe</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#"><img src="{% static 'images/amenities.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                                           class="img-responsive">
                            <div class="desc">
                                <span></span>
                                <h3>Amenities</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#"><img src="{% static 'images/gym.jpg' %}" alt="Free HTML5 Website Template by FreeHTML5.co"
                                           class="img-responsive">
                            <div class="desc">
                                <span></span>
                                <h3>Gym</h3>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-4 animate-box">

                        <div class="feature-left">
                                <span class="icon">
                                    <i class="icon-hotairballoon"></i>
                                </span>
                            <div class="feature-copy">
                                <h3>Free WiFi</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                                <span class="icon">
                                    <i class="icon-search"></i>
                                </span>
                            <div class="feature-copy">
                                <h3>Parking</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                                <span class="icon">
                                    <i class="icon-wallet"></i>
                                </span>
                            <div class="feature-copy">
                                <h3>Restaurents</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        {% include 'footer.html' %}
    
    </div>
</div>
{% include 'JS.html' %}
</body>
</html>