{% load static %}
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    {% include 'CSS.html' %}

    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>

</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            {% include 'header.html' %}

            {% for hb in hname %}
            <div class="desc profile-container row">
               <div class="container">
                   <h2>Payment</h2>
                   <div id="fh5co-destination">
                    <div class="tour-fluid">
                        <div class="row">
                            <form class="col-md-12" action="receipt/{{hb.hotelName}}">
                                {%csrf_token %}
                                <div role="tabpanel" class="tab-pane" id="register">
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="cname">Name on Card</label>
                                                <input type="text" class="form-control" id="cname" name="cname"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="cnum">Card Number</label>
                                                <input type="text" class="form-control" id="cnum" name="cnum" placeholder="1234-4567-1234-4567"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="cvv">CVV</label>
                                                <input type="text" class="form-control" id="cvv" name="cvv" placeholder="123"/>
                                            </div>
                                        </div><div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label for="edate">Expiry Date</label>
                                                <input type="text" class="form-control" id="edate" name="edate"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block"
                                                value="Pay Now">
                                        </div>    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
                
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'JS.html' %}
</body>
</html>