{% load static %} {% load rec %}
<!DOCTYPE html>
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Receipt</title>
    <link
      rel="icon"
      href="{% static 'images/icon.png' %}"
      type="image/icon type"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta
      name="keywords"
      content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"
    />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    {% include 'CSS.html' %}

    <style>
      .container {
        margin: auto;
        width: 50%;
        padding: 10px;
      }
    </style>

    <script>
      function printDiv() {
        var divContents = document.getElementById("print").innerHTML;
        var a = window.open();
        // a.document.write('<html>');
        // a.document.write('<body > <h1>Div contents are <br>');
        a.document.write(divContents);
        // a.document.write('</body></html>');
        a.document.close();
        a.print();
      }
    </script>
  </head>

  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        {% include 'header.html' %}

        <div id="fh5co-tours" class="fh5co-section-gray">
          <div class="container" id="print">
            <div class="row">
              <div
                class="col-md-8 col-md-offset-2 text-center heading-section animate-box"
              >
                <h3>Payment Receipt</h3>
              </div>
            </div>
            <div>
              <h4>Customer Details</h4>
              <p>Customer Name : {{user.username}}</p>
              <p>Contact Number : {{booking_details.contact}}</p>
              <p>Email Id : {{booking_details.email}}</p>
              <h4>Tour Details</h4>
              <p>Package Name : {{booking_details.bookingName}}</p>
              <p>
                Tour Type : {% if booking_details.bookingType %} Holiday Package
                {% else %} Hotel {% endif %}
              </p>
              <!-- <p>Tour Duration : </p> -->
              <h4>Booking Details</h4>
              <!-- <p>Adults : 1 | Children : 0</p> -->
              <p>
                Booking Fair (For one person) : {{booking_details.bookingFair}}
              </p>
              <p>
                Total Amount :
                <!-- {{booking_details.people|total_cost:booking_details.bookingFair}} -->
                Total Amount : {{booking_details.people *
                booking_details.bookingFair}}
                <!-- Total Amount : {% widthratio {{booking_details.people}} 1
                {{booking_details.bookingFair}} %} -->
              </p>
              <p>Booking Date : {{booking_details.tdate}}</p>
              <p>Payment Number : {{booking_details.id}}</p>
              <a
                class="btn btn-primary btn-outline"
                href="#"
                onclick="printDiv()"
                >Print</a
              >
            </div>
          </div>
        </div>

        {% include 'footer.html' %}
      </div>
    </div>
    {% include 'JS.html' %}
  </body>
</html>
