{% load static %}
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Tour History</title>
  {% include 'CSS.html' %}

  <style>
    .container {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {% include 'header.html' %}

      <div id="fh5co-tours" class="fh5co-section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
              <h3>Booking History</h3>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Booking Item</th>
                <th scope="col">Total Fair</th>
                <th scope="col">Booking Date</th>
                <!-- <th scope="col">Type</th> -->
              </tr>
            </thead>
            <tbody>
              {% for h in history %}
              <tr>
                <th scope="row">{{h.bookingName}}</th>
                <td>{{h.bookingFair}}</td>
                <td>{{h.tdate}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% include 'footer.html' %}
    </div>
  </div>
  {% include 'JS.html' %}
</body>

</html>