{% load static %}
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    {% include 'CSS.html' %}

</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">

        {% include 'header.html' %}

        <div id="fh5co-tours" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                        <h3>Motorbike Adventure in Ladakh</h3>
                        <p>6 Days</p>
                    </div>
                </div>
                <div id="fh5co-destination">
                    <div class="tour-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="fh5co-destination-list" class="animate-box">
                                    <li class="one-forth text-center" style="background-image: url(images/place-1.jpg) ">
                                        <!-- {% static 'images/place-1.jpg' %} -->
                                    </li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-2.jpg); "></li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-3.jpg); "></li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-4.jpg); "></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
                <br><br>
                <div>
                    <p>Ladakh is well known for its astonishing landscape and high mountain passes, and this is exactly what a motorbike adventure in Ladakh presents you with. From riding on the highest motorable roads in the world, to the martian landscape in the valleys, Ladakh offers an experience unmatched by any other destination in India. A road trip to Ladakh is full of ups and downs and one gets to experience a unique culture that has prevailed over centuries.</p>
                    <br>
                    <p>Tour type : Adventure</p>
                    <h4 style="color:#F78536">Price : 17999</h4>
                    <a class="btn btn-primary btn-outline" href="#">Book Now <iclass="icon-arrow-right22"></i></a>
                </div>
                <div>
                    
                </div>
               
            </div>
        </div>
        

        {% include 'footer.html' %}
    
    </div>
</div>
{% include 'JS.html' %}
</body>
</html>