{% load static %}
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tour Details</title>
    {% include 'CSS.html' %}

</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">

        {% include 'header.html' %}

        <div id="fh5co-tours" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                        <h3>Motorbike Adventure in Ladakh</h3>
                        <p>6 Days</p>
                    </div>
                </div>
                <div id="fh5co-destination">
                    <div class="tour-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="fh5co-destination-list" class="animate-box">
                                    <li class="one-forth text-center" style="background-image: url(images/place-1.jpg) ">
                                        <!-- {% static 'images/place-1.jpg' %} -->
                                    </li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-2.jpg); "></li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-3.jpg); "></li>
                                    <li class="one-forth text-center" style="background-image: url(images/place-4.jpg); "></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
                <br><br>
                <div>
                    <p>Ladakh is well known for its astonishing landscape and high mountain passes, and this is exactly what a motorbike adventure in Ladakh presents you with. From riding on the highest motorable roads in the world, to the martian landscape in the valleys, Ladakh offers an experience unmatched by any other destination in India. A road trip to Ladakh is full of ups and downs and one gets to experience a unique culture that has prevailed over centuries.</p>
                    <br>
                    <p>Tour type : Adventure</p>
                    <h4 style="color:#F78536">Price : 17999</h4>
                    <a class="btn btn-primary btn-outline" href="#">Book Now <iclass="icon-arrow-right22"></i></a>
                </div>
                <div>
                </div>
                <br>
                <div>
                    <h3>Package Inclusion :</h3>
                    <ul>
                        <li>Pickup and drop from airport/railway/bus station</li>
                        <li>Accomodation on double/twin sharing basis</li>
                        <li>All breakfast included at hotels</li>
                        <li>All transfers and sightseeing by private A/C vehincle</li>
                        <li>An english/hindi speaking friendly driver sum guide throughout your trip</li>
                        <li>All applicable texes</li>
                    </ul>
                    <br>
                    <h3>Package Exclusion :</h3>
                    <ul>
                        <li>Any air/bus/rail fare</li>
                        <li>Any other meals not mentioned in package inclusions</li>
                        <li>Any other destination not mentioned in itinerary</li>
                        <li>Guide charges/boating charges/entrance fees for any sightseeing</li>
                        <li>Any services or activity charges other than those included in inclusions</li>
                        <li>Supplymentry cost for festival period,long weekend or peak season</li>
                        
                    </ul>
                    <h4><a href="#">Terms and Conditions</a></h4>
                </div>
            </div>
        </div>
        

        {% include 'footer.html' %}
    
    </div>
</div>
{% include 'JS.html' %}
</body>
</html>